@media (max-width: 767px) {
  .fc-scroller {
    height: 70vh !important;
  }
}
.cursor-pointer {
  cursor: pointer;
}
.fa-green {
  color: #5cb85c;
}
.fa-red {
  color: #f44336;
}
.fa-yellow {
  color: #f0ad4e;
}
.fa-task-option {
  margin-right: 20px;
}
.fa-unselected {
  color: #ababab;
  font-weight: 100;
}
.fa-vcenter {
  vertical-align: middle;
}
.navbar-main-menu {
  margin-bottom: 15px;
}
.fc-left {
  font-size: 12px;
}
